

/* nav bar */

@media (min-width: 768px){
.container{
        margin: 0 auto;
        color: #02033B;
        font-family: "TWKLausanne", sans-serif;
 }
nav{
    display: grid;
    grid-template-columns: 0.5fr 8fr 2fr 1.6fr;
    background: linear-gradient(180deg, #F3F8FF, #E7EFFA);
}

nav > ul{
    display: flex;
}
nav > ul > li{
    display: block;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}
nav > button{
    border-radius: 40px;
    width: 100px;
    height: 60%;
    justify-self: center;
    align-self: center;
    font-size: 16px;
    background-color: #4335de;
    color: #fff;
    border-style: none;
}

/* header */
.header__container{
    background-color: #F3F8FF;
}
header{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding: 10%;
   
}
.headerwrapper{
    max-width: 50%;
}
.headerwrapper > h1{
    font-size: 60px;
}
.headerwrapper > h1 +p{
    font-size: 20px;
    margin-bottom: 100px;
}

button[class="colored"]{
    background-color: #FFC247;
}

button{

    border-style: solid;
    border-radius: 25px;
    height: 54.5px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    background-color: #F3F8FF;
    padding: 10px;
}
button[class="colored"]{
    background-color: #FFC247;
    border-style: none;
    
}

header > div > span{
    padding: 5%;
  
}
.picwrapper{
    display: inline;
    max-height: 150px;
}
img[src="android-dashboard-certo-2.avif"]{
    height: 465.5px;
    width: 241.5px;
    position: relative; 
    bottom: 550px;
    left: 66px;
}
img[src="home-header-2.avif"]{
    height: 555px;
    width: 500px;
    position: relative; 
    object-fit: cover;
    left: 213px;
    top: 25px
}

/* main */
.main__container{
    background: linear-gradient(0deg, #FDB235, #F7C95F);
}
main{
    max-width: 1440px;
    margin: 0 auto;
    
    padding: 5%;
}
main > h2 {
    font-size: 40px;
    width: 50%;
}
.messagebox{
    display: inline-block;
    border-style: solid;
    width: 25%;
    height: 255px;
    background-color: white;
    border-radius: 25px;
    margin-left: 50px;
    text-align: left;
    vertical-align: middle;
    padding: 20px;
    margin-top: 20px;
}
div[class="messagebox"] > p:first-child {
    color: #FFC247;
    font-size: 25px;
}

div[class="sponser"]  {
   display: grid;
   grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
   margin-top: 100px;
}
div[class="sponser"] > img {
    justify-self: center;
    align-self: center;
    width: 80%;
}

div[class="sponser"] > p {
    font-size: 32px;
    font-weight: bold;
}

section{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding: 8%;
}
div[class="sectionwrapper"]{
    width: 50%;
    height: 40%;
}
img[src="sectionpic.avif"]{
    width: 50%; 
    border-radius: 150%;
    position: relative;
    left: 80px;
}
.sectionwrapper > h2{
    font-size: 40px;
}

.sectionwrapper > h2 +p{
    font-size: 23px;
    line-height: 160%;
    padding-bottom: 10%;
}
/* section 2 */
.section2__container{
    background-color: #E7EFFA;
}

.section2{
    max-width: 1440px;
    margin: 0 auto;
    
    padding: 3%;
}
.section2 > h2{
    text-align: center;
    font-size: 250%; 
    padding: 2%;
}
.item_wrapper{
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 5%;
    padding-bottom: 5%;
}
.item_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3%;
    justify-content: space-evenly; 
}
.boxitem{
    font-weight: 400;
    text-align: center;
    padding: 15%;
    justify-items: stretch;
}
.boxitem > h3 {
    font-size: 18px;
    padding: px;
}
.boxitem > h3 + p{
    font-size: 18px; 
}
.buttonalign{
    text-align: center;
}
.buttonalign >span {
    padding: 20px;
}

/* footer */
.footer__container{
    background-color: #02033B;
}

footer{
    max-width: 1440px;
    margin: 0 auto;
    
    color: #ffffff;
}
.footerwrapper{
    display: grid;
    grid-template-columns: 1fr 0.7fr 1.3fr;
    padding: 5%;
    padding-left: 10%;
    column-gap: 10%;
}
div[class="info"]{
    display: block;
}
div[class="info"] > p:first-child {
    font-size: 2em;
    font-weight: bold;
}
div[class="info"] >  p {
    font-size: 0.8em;
  
}
div[class="info"] >  a {
    font-size: 0.8em;
    
}

div[class="link"] > p {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 0.8;
}
.info > a {
    color: #ffffff;
}

.reply{
    max-height: 60%;
    border-style: solid;
    border-color: #ffc247;
    border-radius: 15%;
    background-color: #FFC247;
    padding: 5%;
    padding-left: 60px;
    background-image: url(certo-dark-yellow.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: #02033B;
}
.reply > p:first-child{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: -5px;
}
.reply > p{
    font-size: 1em;
}
.reply > input{
    border-radius: 50px;
    height: 10%;
    width: 80%;
    padding-left: 15px;
}
.link > a {
    color: #FFC247;
    font-size: 1.1em;
    text-decoration: none;

}
img[src="coalition_against_stalkerware_logo.png"]{
    height: 30%;
    align-self: center;
}
img[src="Footer logo.png"]{
    padding: 10%;
    justify-self: end;
}
.disclaimer{
    grid-column: 1 / 3;
    font-size: 0.9em;
}
i{
    padding: 8%;
}

.link > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 2em;
}
.link > ul > li >a {
    font-size: 18px;
    color: #FFC247;
}
.link > ul > li > a:link { 
    text-decoration: none; 
  }

}

/*   ---------------------------------   media 768px-------------------------------------------------------------------          */
@media (max-width: 767px) {
    .container{
        margin: 0 auto;
        color: #02033B;
        font-family: "TWKLausanne", sans-serif;
        max-width: 767px;
    }
    nav{
        background: linear-gradient(180deg, #F3F8FF, #E7EFFA);
        display: flex;
    }
    nav > ul > li{
        font-size: 0px;
    }
    nav > button{
        width: 0;
        visibility: hidden;
    }
    
    /* header */
    .header__container{
        background-color: #F3F8FF;
    }
    header{
        padding: 5%;
    }
    .headerwrapper > h1{
        font-size: 38px;
    }
    .headerwrapper > h1 +p{
        font-size: 18px;
        line-height: 180%;
        margin-bottom: 40px;
    }
   
    button{
        margin-top: 20px;
        display: block;
        border-style: solid;
        border-radius: 25px;
        height: 54.5px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        background-color: #F3F8FF;
        padding: 15px;
    }
    button[class="colored"]{
        background-color: #FFC247;
        border-style: none;
    }
   
    .picwrapper{
    
        max-height: 150px;
    }
    img[src="android-dashboard-certo-2.avif"]{
        visibility: hidden;
    }
    img[src="home-header-2.avif"]{
        
        height: 30%;
        width: 40%;
        position: relative; 
        object-fit: cover;
        left: 400px;
        bottom: 160px; 
    }
    
    /* main */
    .main__container{
        background: linear-gradient(0deg, #FDB235, #F7C95F);
    }
    main{
        margin: 0 auto;
        padding: 5%;
    }
    main > h2 {
        font-size: 30px;
       
    }
    .messagebox{
        display: inline-block;
        border-style: solid;
        width: 70%;
        background-color: white;
        border-radius: 25px;
        margin-left: 50px;
        text-align: left;
        vertical-align: middle;
        padding: 20px;
        padding-top: 0px;
        margin-top: 20px;

    }
    div[class="messagebox"] > p:first-child {
        color: #FFC247;
        font-size: 25px;
    }
    
    div[class="sponser"]  {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
       grid-template-rows: 0.4fr 1fr;
       margin-top: 100px;
       overflow-x: scroll;
    }
    div[class="sponser"] > img {
        justify-self: center;
        align-self: center;
        width: 100%;
        padding-left: 80px;
        margin-right: 80px;
    }
    
    div[class="sponser"] > p {
        font-size: 20px;
        font-weight: bold;
        grid-column: 1 /7;
        align-self: start;
    }
    


    /*section */
    section{
        padding: 5%;
    }
    .sectionwrapper > h2{
        font-size: 28px;
    }
    
    .sectionwrapper > h2 +p{
        font-size: 18px;
        line-height: 160%;

    }
    
    img[src="sectionpic.avif"]{
        border-radius: 150%;
        margin-top: 50px;
    }
   
    section >div > button{
        display: inline-block;
        margin-left: 15px;
    }


    /* section 2 */
    .section2__container{
        background-color: #E7EFFA;
    }
    
    .section2{
        margin: 0 auto;
        padding: 3%;
    }
    .section2 > h2{
        text-align: center;
        font-size: 30px; 
        padding: 2%;
    }
    .item_wrapper{
        width: 95%;
        margin: 0 auto;
        background-color: #ffffff;
        border-radius: 30px;
        padding-bottom: 5%;
    }
    .item_container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        justify-content: space-evenly; 
    }
    .boxitem{
        font-weight: 400;
        text-align: center;
        justify-items: stretch;
        padding-top: 5%;
    }
    .boxitem > h3 {
        font-size: 18px;
    }
    .boxitem > h3 + p{
        font-size: 14px; 
        padding-left: 5%;
        padding-right: 5%;
        
    }
    div[class="buttonalign"]{
        text-align: center;
        
    }
    .buttonalign > button{
        display: inline-block;
        font-size: 16px;
        margin-right: 20px;
    }
  
    
    /* footer */
    .footer__container{
        background-color: #02033B;
    }
    
    footer{
        margin: 0 auto;
        color: #ffffff;
    }
    .footerwrapper{
        display: grid;
        padding: 5%;
    }
    div[class="info"]{
        display: block;
        order: 5;
    }
    div[class="info"] > p:first-child {
        font-size: 1.5em;
        font-weight: 600;
        margin-bottom: 60px;
    }
    div[class="info"] >  p {
        font-size: 0.8em;
        margin-top: 30px;
      
    }
    div[class="info"] > i{
        margin-bottom: 40px;
    }
    div[class="info"] >  a {
        font-size: 0.8em;
    }
    
    div[class="link"] > p {
        font-weight: bold;
    }
    .info > a {
        color: #ffffff;
    }
    
    .reply{
        height: 90%;
        border-style: solid;
        border-color: #ffc247;
        border-radius: 30px;
        background-color: #FFC247;
        background-image: url(certo-dark-yellow.svg);
        background-repeat: no-repeat;
        background-position: center;
        color: #02033B;
        order: 2;
        margin-top: 20px;
        margin-bottom: 30px;
        padding-left: 30px;
        padding-top: 10px;

    }
    .reply > p:first-child{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .reply > p{
        font-size: 14px;
        margin-bottom: 30px;
    }
    .reply > input{
        border-radius: 50px;
        height: 15%;
        width: 80%;
        padding-left: 15px;
        border-style: none;
    }
    .link > a {
        color: #FFC247;
        font-size: 1.1em;
        text-decoration: none;
    
    }
    img[src="coalition_against_stalkerware_logo.png"]{
        margin-top: 40px;
        margin-bottom: 25px;
        height: 35%;
        align-self: center;
        order:3;
    }
    img[src="Footer logo.png"]{
        justify-self: start;
        border-radius: 10px;
        order: 4;
    }
    .disclaimer{
        font-size: 0.75em;
        order: 6;
    }
    
    .link > ul{
        font-family: "TWKLausanne", sans-serif;
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: #ffffff;
        font-weight: 400;
        font-size: 35px;

    }
    .link > ul >p {
        font-weight: 600;
    }
    .link > ul > li >a {
        font-size: 18px;
        color: #FFC247;
        line-height: 300%;
    }
    i{
        padding-right: 20px;
    }
    .link > ul > li > a:link { 
        text-decoration: none; 
      }
      .link{
        order:1;
      }

}